<html>

<head>
	<title>Spring Bootstrap</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--Using Bootsrap CDN-->
	<!--	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"-->
	<!--		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->


	<!--Using local server CSS-->
	<!--	<link href="bootstrap.min.css" rel="stylesheet">-->

	<!--Using local server Web jar-->
	<!--	<link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">-->

	<!--Using local server version agnostic Web jar-->
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">

</head>

<body class="container">
	<h1 class="my-4">
		4 ways to use Bootstrap in Spring Boot project:
	</h1>
	<ol class="list-group list-group-numbered">
		<li class="list-group-item list-group-item-primary">using Bootstrap CDN</li>
		<li class="list-group-item list-group-item-secondary">using Bootstrap CSS file from own server</li>
		<li class="list-group-item  list-group-item-warning">using Webjar</li>
		<li class="list-group-item list-group-item-danger">using version agnostic Webjar</li>
	</ol>
	
	<p class="alert alert-primary my-2">Thanks for watching</p>
	<!--Using Bootsrap CDN-->
	<!--	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"-->
	<!--		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"-->
	<!--		crossorigin="anonymous"></script>-->

	<!--Using local server CSS-->
	<!--	<script src="bootstrap.min.js"></script>-->

	<!--Using local server Web jar-->
	<!--	<script src="/webjars/bootstrap/5.3.2/css/bootstrap.min.js"></script>-->

	<!--Using local server version agnostic Web jar-->
	<script src="/webjars/bootstrap/css/bootstrap.min.js"></script>



</body>

</html>